<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="skateboards-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Skateboards and Parts
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="skateboards-link">
                <a href="{% url 'products' %}?category=complete_skateboards" class="dropdown-item">Complete Skateboards</a>
                <a href="{% url 'products' %}?category=decks" class="dropdown-item">Decks</a>
                <a href="{% url 'products' %}?category=trucks" class="dropdown-item">Trucks</a>
                <a href="{% url 'products' %}?category=wheels" class="dropdown-item">Wheels</a>
                <a href="{% url 'products' %}?category=bearings" class="dropdown-item">Bearings</a>
                <a href="{% url 'products' %}?category=griptape" class="dropdown-item">Griptape</a>
                <a href="{% url 'products' %}?category=hardware" class="dropdown-item">Hardware</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Clothing
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'products' %}?category=windbreaders" class="dropdown-item">Windbreakers</a>
                <a href="{% url 'products' %}?category=jeans" class="dropdown-item">Jeans</a>
                <a href="{% url 'products' %}?category=shirts" class="dropdown-item">Shirts</a>
                <a href="{% url 'products' %}?category=sneakers" class="dropdown-item">Sneakers</a>
                <a href="{% url 'products' %}?category=windbreakers,jeans,shirts,sneakers" class="dropdown-item">All Clothing</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="about-us-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                About Us
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="contact-us-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Contact Us
            </a>
        </li>
    </ul>
</div>