{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
    <div class="container-fluid w-50">
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="logo-font">Our Blog</h2>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <!-- Blog Entries Column -->
            <div class="col mt-3 text-center">
                {% for post in post_list %}
                <div class="card mb-4">
                    <div class="card-body">
                        <h2 class="card-title">{{ post.title }}</h2>
                        <p class="card-text text-muted h6">{{ post.author }} | {{ post.created_on}} </p>
                        <p class="card-text">{{post.content|slice:":200" }}</p>
                        <a href="{% url 'post_detail' post.slug  %}" class="btn btn-primary">Read More</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <footer>
        <div class="col text-center mt-3">
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a href="https://en-gb.facebook.com" target="_blank" class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                </li>

                <li class="list-inline-item">
                    <a href="https://twitter.com" target="_blank" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                </li>

                <li class="list-inline-item">
                    <a href="https://www.instagram.com" target="_blank" class="instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                </li>
            </ul>
        </div>
    </footer>

{% endblock %}