{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="col-12 col-md-6">
            <h2 class="logo-font mb-4">About Us</h2>
        </div>
    </div>

    <div class="row">
        <p class="col-12 col-md-6">
            We are a small team of Skateboarders who love to skate. 5 years ago we decided to start up a business selling parts to locals at the skateparks we went to, eventually we decided to build a website.
        </p>
    </div>
{% endblock %}